


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Merhaba</h1>
    <h1>Admin Paneline Hoşgeldiniz</h1>
    <h1>Bu sayfada yeni admin atayabilirsiniz,</h1>
    <h1>ürün ve kategoriler ile ilgili</h1>
    <h1>değişiklikleri yapabilirsiniz</h1>
     
</div>

