


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Admin Paneline Hoşgeldiniz</h1>
    <h1>Bu sayfada yeni adminleri atayabilir veya ürün ve kategoriler ile ilgili değişiklikleri yapabilirsiniz</h1>
     
</div>

